Repository TykTechnologies/tyk-docs, pull requests merged in 2025-09, with the labels that each got.

#6842 Update cloud 1.30.0 RNs.md
  tyk-docs/content/developer-support/release-notes/cloud.md
Labels: Review effort 2/5, release-5.8, release-5.9

#6888 Update portal 1.14.1.md
  tyk-docs/content/developer-support/release-notes/portal.md
  tyk-docs/data/releases/portal.json
Labels: Review effort 2/5, release-5.8, release-5.9

#6911 Update dashboard-configuration.md
  tyk-docs/content/api-management/dashboard-configuration.md
Labels: Review effort 1/5, release-5.8, release-5.9

#6940 [DX-2100] Updated Detailed Tracing Image
  tyk-docs/assets/img/distributed-tracing/opentelemetry/detailed-tracing-oas.png
  tyk-docs/content/api-management/logs-metrics.md
Labels: Review effort 1/5, release-5.8, release-5.9

#6964 Mintlify URL Fixes
  tyk-docs/content/api-management/automations/operator.md
Labels: Review effort 1/5, release-5.8, release-5.9

#6980 Fips update
  tyk-docs/content/developer-support/release-types/fips-release.md
Labels: Review effort 2/5, release-5.8, release-5.9

#6984 [TT-15664] Update documentation for 5.8
  tyk-docs/assets/others/dashboard-swagger.yml
Labels: Review effort 1/5

#6903 [TT-15086] Release Notes: Tyk Charts 4.0.0
  tyk-docs/content/developer-support/release-notes/helm-chart.md
  tyk-docs/data/releases/helm.json
Labels: Review effort 2/5, release-5.8, release-5.9

#6992 Correct Helm Chart version 3.1 -> 4.0 [GW]
  tyk-docs/content/developer-support/release-notes/gateway.md
Labels: now, Review effort 1/5, release-5.9
