Repository TykTechnologies/tyk-docs, pull requests merged in 2025-10, with the labels that each got.

#6997 [DX-2104] Update Portal Swagger field AUTH_TOKEN_CUSTOM to AUTH_TOKEN_TYPE_CUSTOM
  tyk-docs/assets/others/enterprise-developer-portal-swagger.yaml
Labels: release-5.8, release-5.9

#7003 Removed bug fix not included in 5.8.6
  tyk-docs/content/developer-support/release-notes/dashboard.md
Labels: now, Review effort 1/5, release-5.8, release-5.9

#6959 Add a Note on the availability of `ctx.GetSession(r)` in the middleware chain
  tyk-docs/content/api-management/plugins/golang.md
Labels: Review effort 1/5, release-5.8, release-5.9

#7014 Remove anchor tags for mintlify
  tyk-docs/content/ai-management/mcps/overview.md
  tyk-docs/content/api-management/plugins/rich-plugins.md
  tyk-docs/content/api-management/request-quotas.md
  tyk-docs/content/api-management/request-throttling.md
  tyk-docs/content/api-management/traffic-transformation/allow-list.md
  tyk-docs/content/api-management/traffic-transformation/block-list.md
  tyk-docs/content/api-management/traffic-transformation/mock-response.md
  tyk-docs/content/api-management/traffic-transformation/request-body.md
  tyk-docs/content/api-management/traffic-transformation/request-headers.md
  tyk-docs/content/api-management/traffic-transformation/request-method.md
  tyk-docs/content/api-management/traffic-transformation/request-size-limits.md
  tyk-docs/content/api-management/traffic-transformation/response-body.md
  tyk-docs/content/api-management/traffic-transformation/response-headers.md
  tyk-docs/content/api-management/traffic-transformation/virtual-endpoints.md
  tyk-docs/content/developer-support/release-notes/cloud.md
  tyk-docs/content/developer-support/release-notes/dashboard.md
  tyk-docs/content/developer-support/release-notes/gateway.md
  tyk-docs/content/developer-support/release-notes/helm-chart.md
  tyk-docs/content/developer-support/release-notes/mdcb.md
  tyk-docs/content/developer-support/release-notes/operator.md
  tyk-docs/content/developer-support/release-notes/portal.md
  tyk-docs/content/developer-support/release-notes/pump.md
  tyk-docs/content/developer-support/release-notes/sync.md
  tyk-docs/content/developer-support/release-notes/tib.md
  tyk-docs/content/developer-support/upgrading.md
  tyk-docs/content/tyk-developer-portal/tyk-portal-classic/customise/custom-developer-portal.md
  tyk-docs/content/tyk-stack/tyk-operator/create-an-api.md
Labels: Review effort 2/5, release-5.8, release-5.9
